@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto);


.button.login button,
.button button {
   width: 50%;
   line-height: 50px;
   left: 0%;
   background-color: transparent;
   border: 3px solid #fff;
   font-weight: 900;
   font-size: 18px;
   color: #fff;
   margin-top: 1rem;
}

.button.login {
  display: flex;
  justify-content: center;
}

.button {
   margin-top: 20px;
}

.button button {
   background-color: #fff;
   color: #ED2553;
   border: none;
}

.button.login button.active {
   border: 2px solid transparent;
   color: #fff !important;
}

.button.login button.active span {
   opacity: 0;
   transform: scale(0);
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
}

.button.login button:hover {
   color: #ED2553;
   border-color: #ED2553;
}

.button {
   margin: 20px 0;
   overflow: hidden;
   z-index: 2;
}

.button button {
   cursor: pointer;
   position: relative;
   z-index: 2;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #555 !important;
}

/* VARS */
*, *:before, *:after {
  box-sizing: border-box;
}

.form_container {
  font-size: 1rem;
}

.form_container {
  margin: 1rem auto;
  max-width: 700px;
}

.form_container form > h1 {
  margin-bottom: 1rem;
}

.form_container form > div:first-child {
  flex: 4;
}
.form_container form > div:last-child {
  flex: 1;
  margin: 0.8rem;
}
.form_container form {
  margin: 1rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_container form:after {
  content: '';
  display: table;
  clear: both;
}
.form_container form .field {
  display: block;
  border: 1px solid #BDBDBD;
  float: left;
  width: 100%;
}
.form_container form .field.tnb {
  border-top: 0;
}
.form_container form .field.half {
  width: 50%;
}
.form_container form .field.last {
  border-left: 0;
}
.form_container form .field label {
  display: block;
  font-size: 0.8rem;
  padding: 0.8rem;
  text-transform: uppercase;
  color: #999;
  font-weight: 700;
  letter-spacing: 1px;
}
.form_container form .field input,
.form_container form .field textarea {
  display: block;
  width: 100%;
  padding: .5rem 2rem 1.5rem;
  font-size: 1.1rem;
  border: 0;
  color: #212121;
  outline: 0;
}
.form_container form .field textarea {
  min-height: 150px;
  resize: vertical;
}







#hero1 {
  background: url(http://images.slideplayer.com/4/1468184/slides/slide_1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url(http://images.slideplayer.com/4/1468184/slides/slide_1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(http://images.slideplayer.com/4/1468184/slides/slide_1.jpg);
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.copy {
  position: absolute;
  top: 25%;
  height: 17em;
  margin-top: -5em;
  width: 100%;
  background: #000;
}

.hero h1, .hero p {
  color: #fff;
}

.content h1, .content p {
  color: #333;
}

h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
  padding: 0px 20px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 0px 20px;
}





.login {
margin: 20px auto;
width: 300px;
}
.login .login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.login .app-title {
text-align: center;
color: #777;
}

.login .login-form {
text-align: center;
}
.login .control-group {
margin-bottom: 10px;
}

.login input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

.login input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.login .btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.login .btn:hover {
  background-color: #2980B9;
}

.login .login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}



ul#tabs-list {
  list-style: none;
  text-align: center;
  /*border-bottom: 1px solid #dfdfdf;*/
  /*margin: 0;*/
  padding: 0;
}

label.panel-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 100%;
  color: #bdc3c7;
  cursor: pointer;
  background-color: #ecf0f1;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
label.panel-label:hover {
  color: #c0392b;
}

#panels {
  /*background-color: white;*/
  background: transparent;
}
#panels .container {
  width: 91%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 2em;
}
#panels section header label.panel-label {
  padding: 12px 24px;
  box-sizing: border-box;
}
#panels section main {
  padding-bottom: 2em;
  /*
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
  overflow-y: hidden;
  */
}

#panel-1-ctrl:checked ~ #panels #panel-1 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

#panel-2-ctrl:checked ~ #panels #panel-2 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

#panel-3-ctrl:checked ~ #panels #panel-3 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

#panel-4-ctrl:checked ~ #panels #panel-4 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

#panel-5-ctrl:checked ~ #panels #panel-5 main {
  max-height: initial;
  opacity: 1;
  padding: 48px 24px;
}

@media all and (max-width: 767px) {
  #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }

  #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }

  #open-nav-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  #nav-ctrl:checked ~ #tabs-list #open-nav-label {
    display: none;
  }

  #close-nav-label {
    display: block;
    max-height: 0;
    overflow-y: hidden;
    background-color: #444444;
    color: #ecf0f1;
    padding: 0px;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
  }

  #nav-ctrl:checked ~ #tabs-list #close-nav-label {
    max-height: 36px;
    opacity: 1;
    padding: 12px 24px;
  }

  #tabs-list {
    position: relative;
  }
  #tabs-list label.panel-label {
    padding: 12px 0;
  }
  #tabs-list #li-for-panel-1 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-2 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-3 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-4 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }
  #tabs-list #li-for-panel-5 {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 200ms;
    transition: max-height 200ms;
  }

  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #c0392b;
    color: white;
  }

  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #c0392b;
    color: white;
  }

  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #c0392b;
    color: white;
  }

  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #c0392b;
    color: white;
  }

  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    max-height: 46px;
    opacity: 1;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
    background-color: white;
    color: #c0392b;
    background-color: #c0392b;
    color: white;
  }

  #panels .container {
    width: 100%;
  }
  #panels section header {
    display: block;
  }
}
@media all and (min-width: 768px) {
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1.last {
    border-right: 1px solid transparent;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    background-color: white;
    color: #c0392b;
    padding-top: 26px;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
  }

  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2.last {
    border-right: 1px solid transparent;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    background-color: white;
    color: #c0392b;
    padding-top: 26px;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
  }

  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3.last {
    border-right: 1px solid transparent;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    background-color: white;
    color: #c0392b;
    padding-top: 26px;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
  }

  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4.last {
    border-right: 1px solid transparent;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: white;
    color: #c0392b;
    padding-top: 26px;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 6px;
  }

  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5.last {
    border-right: 1px solid transparent;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 + li {
    border-left: 1px solid #dfdfdf;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
    background-color: white;
    color: #c0392b;
    padding-top: 26px;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label::after {
    height: 6px;
  }

  ul#tabs-list {
    text-align: center;
    /*border-bottom: 1px solid #dfdfdf;*/
  }
  ul#tabs-list li {
    display: inline-block;
    text-align: center;
    font-size: 0.875em;
    width: 18%;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
    border-right: 1px solid #dfdfdf;
    position: relative;
  }
  ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
  }
  ul#tabs-list li:hover.last {
    border-right: 1px solid transparent;
  }
  ul#tabs-list li:hover + li {
    border-left: 1px solid #dfdfdf;
  }
  ul#tabs-list li label.panel-label {
    position: relative;
    padding: 24px 0;
  }
  ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    background-color: #c0392b;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
  }
  ul#tabs-list li label.panel-label:hover {
    padding-top: 25px;
  }
  ul#tabs-list li label.panel-label:hover::after {
    height: 6px;
  }

  #open-nav-label,
  #close-nav-label {
    display: none;
  }

  #nav-ctrl {
    display: none;
  }
}
@media all and (min-width: 900px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}
.panel-radios {
  position: fixed;
  left: 50%;
  top: 10px;
  width: 20px;
  opacity: 0.5;
  z-index: 99;
  display: none !important;
}
.panel-radios:nth-child(1) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.panel-radios:nth-child(2) {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.panel-radios:nth-child(3) {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.panel-radios:nth-child(4) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.panel-radios:nth-child(5) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.panel-radios:nth-child(6) {
  top: 30px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  display: block;
}

body {
  margin: 0;
  color: #444444;
  background: #191919;
}

#introduction {
  color: white;
  margin: 20px 60px;
  border-bottom: 1px solid #ea4a55;
}

#introduction h1, #introduction h2 {
  margin: 0;
}

#introduction h1 {
  font-weight: 300;
  text-align: center;
}

#introduction h2 {
  text-align: center;
}

main h1 {
  margin-top: 0;
  font-weight: 300;
  color: #c0392b;
}
main p {
  line-height: 1.8;
}
main hr {
  margin: 12px 0;
  border-top: 1px solid #dfdfdf;
}

label.demo-label {
  background-color: #c0392b;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label.demo-label:hover {
  background-color: #e74c3c;
}

#demo-child-toggle {
  display: none;
}
#demo-child-toggle:checked ~ #demo-parent #demo-child {
  color: #c0392b;
  font-weight: bold;
  text-transform: uppercase;
}

#demo-parent {
  margin-top: 8px;
}

* {
  font-family: Inconsolata, "Andale Mono", Andale, monowidth;
}

code {
  padding: 2px 6px;
}

pre {
  padding: 12px;
  line-height: 1.6;
}
pre strong {
  color: #444444;
  font-weight: normal;
}

.info  p {
  color: #fff;
  text-align: center;
}




.page h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: normal;;
  font-family: 'Open sans', sans-serif;
  left: 10%;
  top: 30px;
  font-size: 2.5em;
  position: absolute;
}
.page h2 {
  font-family: 'open sans', sans-serif;
  font-weight: lighter;
  color: #fff;
  opacity: .5;
  position: absolute;
  left: 15%;
  top: 90px;
}
.page header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #3f51b5;
}
.page header .btn-multi {
  position: absolute;
  z-index: 999;
  right: 15%;
  bottom: 25px;
}
.page .btn {
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 20px;
  font-size: 14px;
  background-color: #E91E63;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s ease-in;
  background-position: 50%;
  outline: none !important;
}
.page .btn.btn-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0 !important;
  font-size: 18px;
}
.page .btn-multi input {
  display: none;
}
.page .btn-multi input:not(:checked) ~ label {
  transform: rotate(0);
}
.page .btn-multi input:not(:checked) ~ label .btn {
  border-radius: 0;
  height: 30px;
  width: 30px;
  box-shadow: none;
}
.page .btn-multi input:not(:checked) ~ label .btn:first-child {
  border-top-left-radius: 100%;
  transform: translate(25px, 25px);
}
.page .btn-multi input:not(:checked) ~ label .btn:nth-child(2) {
  border-top-right-radius: 100%;
  transform: translate(55px, 25px);
}
.page .btn-multi input:not(:checked) ~ label .btn:nth-child(3) {
  border-bottom-left-radius: 100%;
  transform: translate(25px, 55px);
}
.page .btn-multi input:not(:checked) ~ label .btn:nth-child(4) {
  border-bottom-right-radius: 100%;
  transform: translate(55px, 55px);
}
.page .btn-multi input:not(:checked) ~ label .btn .icon {
  opacity: 0;
}
.page .btn-multi input:not(:checked) ~ label > .icon {
  opacity: 1;
}
.page .btn-multi label {
  position: relative;
  height: 110px;
  width: 110px;
  display: block;
  transform: rotate(45deg);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.page .btn-multi label .btn {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.page .btn-multi label .btn:nth-child(2) {
  transform: translate(60px, 0);
}
.page .btn-multi label .btn:nth-child(3) {
  transform: translate(0, 60px);
}
.page .btn-multi label .btn:nth-child(4) {
  transform: translate(60px, 60px);
}
.page .btn-multi label .btn:not(:nth-child(4)) .icon {
  transform: rotate(-45deg);
}
.page .btn-multi label .btn .icon {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}
.page .btn-multi label > .icon {
  color: white;
  position: absolute;
  font-size: 30px;
  left: calc(40%);
  top: calc(36%);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.page main {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'open sans', sans-serif;
  font-weight: lighter;
}


#employees-page a {
      color: #ea4a55;
    text-decoration: none;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    background: #ea4a55;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    z-index: 2;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.page .cd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

#employees-page a::before {
    height: 12px;
    width: 2px;
}

#employees-page a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#employees-page a::after {
    height: 2px;
    width: 12px;
}

#employees-page a::after,
#employees-page .cd-single-point > a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.page .cd-single-point {
    position: absolute;
    border-radius: 50%;
}

#employees-list table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
#employees-list table caption {
  font-size: 0.8em;
  text-align: left;
  font-weight: bold;
  margin: .25em 0 .75em;
}
#employees-list table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
#employees-list table th, #employees-list table td {
  padding: .625em;
  text-align: left;
}
#employees-list table th {
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
#employees-list table td img {
  text-align: center;
}
@media screen and (max-width: 600px) {
  #employees-list table {
    border: 0;
  }
  #employees-list table caption {
    font-size: 1.3em;
  }
  #employees-list table thead {
    display: none;
  }
  #employees-list table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  #employees-list table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  #employees-list table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  #employees-list table td:last-child {
    border-bottom: 0;
  }
}




#navigation {
	width: 90%;
  margin: 1em auto;
}

#navigation a {
	color:#fff;
	text-decoration:none;
}

#navigation nav {
	box-shadow: 0 0 16px -1px #96211b;
	text-transform: uppercase;
	background: #dc5248;
	height:58px;
	border-left:1px solid #e45a4e;
	border-right:1px solid #e45a4e;
	z-index:3;
	position: relative;
	width:95%;
	left:2.4%;
}

#navigation nav a {
	padding:4px 20px;
	border-radius:15px;
}

#navigation nav a:hover { background:#aa2b1d; }

#navigation .active-menu {
	padding:5px 25px;
	background:#f4695b;
	margin-right:15px;
}

#navigation ul {
  padding: 1.3em;
  display: flex;
}

#navigation ul li {
	flex: 1;
	list-style: none;
  text-align: center;
}

#logo {
	position:absolute;
	top:30%;
	left:5%;
	font-size:22px;
	z-index:4;
	font-style: italic;
	text-shadow: 1px -2px 4px #962215;
}

#navigation .dark-color {
	position: relative;
	width:100%;
	height: 79px;
	background:#aa2b1d;
}

#navigation .light-color {
	background: #dc5248;
	z-index: 3;
	position: relative;
	width:102%;
	top:13%;
	left:-1%;
}

#navigation .arrows {
	position:absolute;
	width:100%;
	height: 100%;
}

#navigation .arrows span {
	position: absolute;
	width:0;
	height:0;
	border-top: 39px inset transparent;
	border-bottom: 39px inset transparent;
}

#navigation .ar-left {
	left:0;
	border-left: 10px solid #fff;
	z-index:2;
}

#navigation .ar-right {
	right:0;
	border-right: 10px solid #fff;
	z-index:2;
}

#navigation .ar-left2,
#navigation .ar-right2 {
	border-top: 30px inset transparent !important;
	border-bottom: 30px inset transparent !important;
	top:9.7%;
	z-index:4;
}

#navigation .ar-left2 {
	left:-1.1%;
	border-left: 12px solid #fff;
}

#navigation .ar-right2 {
	right:-1%;
	border-right: 12px solid #fff;
}
